@charset "UTF-8";

/* 回答はここに書いてね 吹き出しは座標で書く*/
.q10_speechbubbles{
    position: relative;
    margin:0 auto;
    width: 450px;
    padding: 20px;
    border-radius: 30px;
    border: 5px solid #222;
    font-size:16px;
    line-height: 16px;
}

.q10_speechbubbles:before, .q10_speechbubbles:after {
    position: absolute;
    border: 20px solid transparent;
    content: "";
}

.q10_speechbubbles:before{
    left: 40px;
    bottom: -45px;
    border-top-color: #222;
}

.q10_speechbubbles:after{
    left: 40px;
    bottom: -38px;
    border-top-color: #fff;
}
/* 回答はここに書いてね*/