@charset "UTF-8";

/* 左右中央寄せ */
.q6--horizontal .q6__box_text {
    margin:0 auto;
    padding: 10px;
    width: 90px;
    text-align: center;
    background-color: #E6F2FF;
}

/* 天地中央寄せ */
.q6--around.is-table {
    display: table;
}

.q6--around.is-table .q6__box {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.q6--around.is-table .q6__box__text {
    display: inline-block;
    padding: 10px;
    background-color: #FFF;
}

.q6--around.is-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.q6--around.is-flex .q6__box__text {
    padding: 10px;
    background-color: #FFF;
}

/* 固定可変 */
.q6--position {
    margin: 0 auto;
    padding: 20px 10px;
    font-size: 0;
    background-color: #ECF1F2;
}

.q6--position .q6__box {
    display: inline-block;
    position: relative;
    background-color: #FFF;
    font-size: 16px;
    vertical-align: top;
}

.q6__box.is-stable .q6__box__contentbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 110px;
    height: 30px;
    background-color: #E6F2FF;
    line-height: 30px;
    text-align: center;
}

.q6__box.is-flexible .q6__box__contentbox {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.q6__box.is-flexible .q6__box__contentbox {
    display: inline-block;
    padding: 10px;
    background-color: #E6F2FF;
}
/* 回答はここに書いてね */
